@charset "utf-8";

/* ---------------- CSS-Reset ------------------- */
html, body, a, div, h1, h2, h3, h4, h5, h6, span, p, img, strong, ul, li, table, th, td, tr {
    border: 0px none;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    table-layout: inherit;
    text-decoration: none;
} 

/* ---------------- Body / HTML ------------------- */

html,
body {
    background-color: white;
    color: black;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif, Verdana;
    font-size: 13px;
    font-weight: normal;
}

